#question {
  margin-bottom: 5rem;
  text-align: center;
  color: #06c2fc;
  text-shadow: 0.2 0 0.3rem #06c2fc;
  font-size: 3rem;
  user-select: none;
}
.choices {
  display: flex;
  width: 80%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#btn-choices {
  width: 90%;
  margin-bottom: 1rem;
  border-radius: 2rem;
  padding: 2rem;
  font-size: 1.8rem;
  background: #e44020;
  text-decoration: none;
  color: white;
  border: 0.1rem solid white;
  user-select: none;
}
#btn-choices:hover {
  cursor: pointer;
  box-shadow: 0 0 1.8rem #e44020;
  transform: translateY(-0.2rem);
  transform: transform 150ms;
}
.container-progress {
  width: 100%;
  display: flex;
  padding: 1.5rem;
  margin-bottom: 5rem;
  flex-direction: column;
}
.progress {
  height: 1.2rem;
  background: #06c2fc;
  margin-bottom: 0.8rem;
  border-radius: 0.5rem;
}
.progress-full {
  width: 0;
  height: 1.2rem;
  border-radius: 0.5rem;
  background: #e44020;
}
.progress-text {
  font-size: 3.5rem;
  color: #06c2fc;
  user-select: none;
}
